<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex</title>
</head>
<body>
  <div class="container">
    <h1>Pokédex</h1>
    <input class="search" type="text" [(ngModel)]="termoBuscado" placeholder="Pesquisar..." name="pesquisa">
    <div class="pokedex">
       <div class="screen" *ngIf="termoBuscado != '' else semBusca"> <!-- -->
          <div class="pokemonContainer" *ngFor="let pokemon of pokedex">
              <div class="pokemon" *ngIf="pokemon.name.includes(termoBuscado)">
                <img [src]="pokemon.image" [alt]="pokemon.name">
                <p>{{pokemon.name}}</p>
              </div>
          </div>
        </div>
        <ng-template class="screen" #semBusca>
          <div class="pokemonContainer" *ngFor="let pokemon of pokedex">
            <div class="pokemon">
              <img [src]="pokemon.image" [alt]="pokemon.name">
              <p>{{pokemon.name}}</p>
            </div>
        </div>
        </ng-template>
      </div>
    </div>
</body>
</html>
