<div class="cover" [class.hidden]="hidden"></div>
<div class="container">
  <h1>Pokédex</h1>
  <input class="search" type="text" [(ngModel)]="termoBuscado" placeholder="Pesquisar..." name="pesquisa">
  <div class="pokedex scroll">
    <div class="screen" *ngIf="termoBuscado != '' else semBusca"> <!-- -->
      <div class="pokemonContainer" [class.hidden]="!pokemon.name.includes(termoBuscado)" *ngFor="let pokemon of pokedex">
        <div (click)="modal(pokemon.name, pokemon.image, pokemon.types, pokemon.abilities, pokemon.weight, pokemon.height)" class="pokemon" [class.grass]="pokemon.types.includes('planta')"
            [class.fire]="pokemon.types.includes('fogo')"
            [class.water]="pokemon.types.includes('agua')"
            [class.bug]="pokemon.types.includes('inseto')">
          <div>
            <p class="pokeNome">{{pokemon.name}}</p>
            <ul>
              <li class="badge"
               *ngFor="let type of pokemon.types"
                [class.grass]="type == 'planta'"
                [class.fire]="type == 'fogo'"
                [class.water]="type == 'agua'"
                [class.bug]="type == 'inseto'"
                [class.poison]="type == 'veneno'"
                [class.flying]="type == 'voador'"
                >
                {{type}}
              </li>
            </ul>
          </div>
          <div><img [src]="pokemon.image" class="pokemonImg" [alt]="pokemon.name"></div>
        </div>
      </div>
    </div>

    <ng-template #semBusca>
      <div class="pokemonContainer" *ngFor="let pokemon of pokedex">
        <div (click)="modal(pokemon.name, pokemon.image, pokemon.types, pokemon.abilities, pokemon.weight, pokemon.height)" class="pokemon" [class.grass]="pokemon.types.includes('planta')"
            [class.fire]="pokemon.types.includes('fogo')"
            [class.water]="pokemon.types.includes('agua')"
            [class.bug]="pokemon.types.includes('inseto')">
          <div>
            <p class="pokeNome">{{pokemon.name}}</p>
            <ul>
              <li class="badge"
               *ngFor="let type of pokemon.types"
                [class.grass]="type == 'planta'"
                [class.fire]="type == 'fogo'"
                [class.water]="type == 'agua'"
                [class.bug]="type == 'inseto'"
                [class.poison]="type == 'veneno'"
                [class.flying]="type == 'voador'"
                >
                {{type}}
              </li>
            </ul>
          </div>
          <div><img [src]="pokemon.image" class="pokemonImg" [alt]="pokemon.name"></div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="modal" [class.hidden]="hidden">
    <div class="top-modal"
      [class.grass]="tiposModal.includes('planta')"
      [class.fire]="tiposModal.includes('fogo')"
      [class.water]="tiposModal.includes('agua')"
      [class.bug]="tiposModal.includes('inseto')"
    >
      <div>
        <p class="pokeNome">{{nomeModal}}</p>
        <ul>
          <li class="badge"
           *ngFor="let type of tiposModal"
            [class.grass]="type == 'planta'"
            [class.fire]="type == 'fogo'"
            [class.water]="type == 'agua'"
            [class.bug]="type == 'inseto'"
            [class.poison]="type == 'veneno'"
            [class.flying]="type == 'voador'"
            >
            {{type}}
          </li>
        </ul>
      </div>
      <div>
        <img class="pokemonImg" [src]="imgModal" [alt]="nomeModal">
      </div>
    </div>

    <div class="body-modal">
      <div class="habilidades">
        <p *ngFor="let ability of habilidadesModal"
        class="badge"
        [class.grass]="ability.type == 'planta'"
        [class.fire]="ability.type == 'fogo'"
        [class.water]="ability.type == 'agua'"
        [class.bug]="ability.type == 'inseto'"
        [class.poison]="ability.type == 'veneno'"
        [class.flying]="ability.type == 'voador'"
        [class.normal]="ability.type == 'normal'"
        >{{ability.name}}</p>
      </div>
      <div class="info">
        <p>Peso: {{pesoModal}}</p>
        <p>Altura: {{alturaModal}}</p>
      </div>
    </div>
    <button class="close" (click)="close()">X</button>

  </div>
</div>
